<div class='row' style='background-color: white; margin-top: 50px; text-align: left; box-shadow: 3px 3px 1px #d3d3d3;'>
  <div class='col-md-6' style='height: 270px; margin-left: 0px; margin-top: 10px; background: rgba(255,255,255,0.5)'>
      <h3>{{#link-to 'question' question.id}}"{{question.title}}" posted by {{question.writer}} {{/link-to}}</h3>
  </div>
</div>
